src/main/mule/getRoutes-mob.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="getroutes-MobileFlow" doc:id="ca23cf59-c3e1-4c7e-bdfa-201b229fb4d1" >
		<http:request method="GET" doc:name="getRoutesConfig" doc:id="f3cb8fc5-a801-4b5a-a9da-3823df239225" path="/api/bookings/{transportType}/routes" config-ref="HTTP_Request_configuration">
			<http:headers ><![CDATA[#[output application/java
---
{
	"transactionId" : attributes.headers.transactionId
}]]]></http:headers>
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"transportCompany" : attributes.queryParams.companyName default "travelontip",
	"transportType" : attributes.uriParams.transportType
}]]]></http:uri-params>
		</http:request>
		<ee:transform doc:name="incomingPayloadFromgetRoutes" doc:id="68f59832-18af-4f94-a111-3713698f0671" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="infoLogRequest" doc:id="b59fe05b-540d-4c04-a0e3-811095c6788f" />
	</flow>
</mule>
