src/main/mule/getSchedules-mob.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="getschedules-MobileFlow" doc:id="3bdf3161-217e-4527-b909-3a9da2878917" >
		<http:request method="GET" doc:name="getSchedulesConfig" doc:id="d3564380-4a1e-43a9-94b3-ab7aad222c85" path="/api/bookings/{transportType}/schedules" config-ref="HTTP_Request_configuration">
			<http:headers ><![CDATA[#[output application/java
---
{
	"transactionId" : attributes.headers.transactionId
}]]]></http:headers>
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"transportCompany" : attributes.queryParams.companyName default "travelontrip",
	"transportType" : attributes.uriParams.transportType
}]]]></http:uri-params>
			<http:query-params ><![CDATA[#[output application/java
---
{
	"departureLocationCode" : attributes.queryParams.departureLocationCode,
	"destinationLocationCode" : attributes.queryParams.destinationLocationCode
}]]]></http:query-params>
		</http:request>
		<ee:transform doc:name="incomingPayloadFromgetSchedules" doc:id="6637155c-84aa-4b11-bfce-2a605b47b8fb" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="infoLogRequest" doc:id="4c997b47-780e-4f70-94cb-78393263e5d8" />
	</flow>
</mule>
