src/main/mule/transportsystem-proc-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <flow name="transportsystem-proc-api-main">
        <http:listener path="/api/*" config-ref="transportsystem-proc-api-httpListenerConfig">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="transportsystem-proc-api-config"/>
        
    </flow>
    <flow name="transportsystem-proc-api-console">
        <http:listener path="/console/*" config-ref="transportsystem-proc-api-httpListenerConfig">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="transportsystem-proc-api-config"/>
        
    </flow>
    <flow name="get:\bookings\(transportType)\routes:transportsystem-proc-api-config">
		<flow-ref doc:name="Flow Reference" doc:id="85a7f57d-f70a-4f89-94c2-5117ae87d6fb" name="getRoutesProc"/>
    </flow>
    <flow name="get:\bookings\(transportType)\schedules:transportsystem-proc-api-config">
		<flow-ref doc:name="Flow Reference" doc:id="d3bebd17-6dd2-4230-b128-bb0631dadd1b" name="getSchedulesProclayerFlow"/>
    </flow>
</mule>
